data/BCICIV_2a_gdf
data/VEPESS
data/VEP_PREP_ICA_VEP2_MARA
data/VEP_PREP_ICA_VEP2_MARA_averagePower
data/biosig-2.4.2.src
wandb
__pycache__
*/__pycache__
data/pt_vepess/*
data/pt_bciciv/*
diffusion/checkpoints
toy_data
diffusion/diffusion_conf.json
script.sh
diffusion/sampling_conf.json
sampled
sampling.log
diffusion/distillation_conf.json
sampled
sampling.log
*.err
*.out
*/.ipynb_checkpoints/*
eegnet/checkpoints
eegnet/eegnet_conf.json
eval/conf.json